<a href="https://colab.research.google.com/github/polivio/PEE/blob/master/DecisionTree_KDD_BR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# https://www.kaggle.com/c/kddbr-2019/data

# KNN KDD BR -Polivio
import numpy as np
from sklearn import preprocessing, neighbors
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.model_selection import cross_val_score



# preprocessing # blob # raw
train = pd.read_csv('https://github.com/polivio/PEE/raw/master/Training_grouped.csv')
test = pd.read_csv('https://github.com/polivio/PEE/raw/master/Test_grouped.csv')


train.info()

#train.isna().sum()
##X                            4592
##XY                          19463
##Y                            3711

# Dica Mateus substituição pela média
train['X'].fillna(train['X'].mean(),inplace=True)
train['XY'].fillna(train['XY'].mean(),inplace=True)
train['Y'].fillna(train['XY'].mean(),inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 21 columns):
Unnamed: 0                          80000 non-null int64
traininglabelorder.scatterplotID    80000 non-null int64
qtde.ponto                          80000 non-null int64
Negative                            80000 non-null int64
Sample                              80000 non-null int64
mean.signalX                        80000 non-null float64
sd.signalX                          80000 non-null float64
var.signalX                         80000 non-null float64
kurtosis.signalX                    80000 non-null float64
skew.signalX                        80000 non-null float64
mean.signalY                        80000 non-null float64
sd.signalY                          80000 non-null float64
var.signalY                         80000 non-null float64
kurtosis.signalY                    80000 non-null float64
skew.signalY                        80000 non-null float64
L                                   80000 non-null int64
X                                   75408 non-null float64
XY                                  60537 non-null float64
Y                                   76289 non-null float64
mean.silhouette                     80000 non-null float64
traininglabelorder.score            80000 non-null float64
dtypes: float64(15), int64(6)
memory usage: 12.8 MB

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 21 columns):
Unnamed: 0                          80000 non-null int64
traininglabelorder.scatterplotID    80000 non-null int64
qtde.ponto                          80000 non-null int64
Negative                            80000 non-null int64
Sample                              80000 non-null int64
mean.signalX                        80000 non-null float64
sd.signalX                          80000 non-null float64
var.signalX                         80000 non-null float64
kurtosis.signalX                    80000 non-null float64
skew.signalX                        80000 non-null float64
mean.signalY                        80000 non-null float64
sd.signalY                          80000 non-null float64
var.signalY                         80000 non-null float64
kurtosis.signalY                    80000 non-null float64
skew.signalY                        80000 non-null float64
L                                   80000 non-null int64
X                                   80000 non-null float64
XY                                  80000 non-null float64
Y                                   80000 non-null float64
mean.silhouette                     80000 non-null float64
traininglabelorder.score            80000 non-null float64
dtypes: float64(15), int64(6)
memory usage: 12.8 MB

In [5]:
train = train.loc[:,[#'qtde.ponto', 
       'mean.signalX', 'sd.signalX', 'kurtosis.signalX',
      'mean.signalY', 'sd.signalY', 
       'kurtosis.signalY', 'L', 'X', 'XY', 'Y',
       'mean.silhouette', 'traininglabelorder.score']]

## Quando iremos usar os dados de teste?
test = test.loc[:,[# 'qtde.ponto', 
       'mean.signalX', 'sd.signalX', 'kurtosis.signalX',
      'mean.signalY', 'sd.signalY', 
       'kurtosis.signalY', 'L', 'X', 'XY', 'Y',
       'mean.silhouette']]

train.head(20)

    mean.signalX   sd.signalX  ...  mean.silhouette  traininglabelorder.score
0    3164.835616   804.757625  ...         0.840146                  0.009647
1    1737.776042   944.798845  ...         0.964427                  0.842084
2    1139.621984   866.460225  ...         0.936210                  0.744601
3    3609.692708  1808.877599  ...         0.896070                  0.842084
4    1867.203655   938.232021  ...         0.952810                  0.944177
5     449.072917   507.413489  ...         0.968487                  1.000000
6    2076.953039   655.688216  ...         0.913787                  0.578706
7     830.200000   648.128942  ...         0.916503                  1.000000
8    3586.317708  1862.356219  ...         0.956756                  0.944319
9     222.168831   270.887643  ...         0.949731                  0.751477
10   2238.825521  1480.077892  ...         0.955443                  1.000000
11    877.057292   298.678765  ...         0.829714                  0.283536
12    901.786458   633.263041  ...         0.937572                  0.474833
13   1126.440789   697.174147  ...         0.907024                  0.647776
14    379.539062   320.758506  ...         0.940349                  0.795196
15   3469.518229   973.268089  ...         0.882495                  1.000000
16   1668.934896   797.617574  ...         0.485581                  0.006463
17   1479.209581   969.112082  ...         0.954536                  0.768378
18   1505.221932   460.339956  ...         0.957652                  0.944177
19   1786.101604  1507.147662  ...         0.946961                  0.745189

[20 rows x 12 columns]

In [0]:
train.head(20)
# change the dtype to 'float64' 
train = trainP.astype('float64')
trainP.info()

In [0]:
# feature qtde.ponto poderá ser removida??


X = np.array(trainP.drop(['traininglabelorder.score'], 1))

y = np.array(trainP['traininglabelorder.score'])


print(y)


# X - features, y - lables
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)


# Regressor
clf = DecisionTreeRegressor(max_depth = None)

clf.fit(X_train , y_train)

accuracy = clf.score(X_test, y_test)

In [0]:
print(cross_val_score(clf, X, y, cv=5))
print(cross_val_score(clf, X, y, cv=5).mean())

tree.plot_tree(clf.fit(X_train , y_train))